<h1>Login</h1>

<p id = 'notice'>  <%= notice()%> </p>

<%= form_for( :session , ) do |f| %>
    <%= f.label (:email) %>
    <%= f.text_field (:email) %>

    <%= f.label (:password) %>
    <%= f.password_field (:password) %>
    
    <br>
    <%= f.submit "Login", disable_with: 'Submiting...' %>
    <%= link_to  "sign up ", sign_up_url %>
 <% end %>
